*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header style */
header{
    height: 500px;
    background-image: url('images/banner3.png');
    background-size: cover;
}

header div{
width: 50%;
margin-left: 60%;
padding-right: 20px;
margin-right: 20px;
}
header h1{
    padding-top: 120px;
    
    color: white;
    margin-top: 20px;

}
header p{
    color: white;
    margin-top: 20px;
    margin-right: 20px;

}

.btn-white{
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: 150px;
    margin-top: 20px;
}
/* main part1 */
.main-part1{
    display: flex;
    height: 700px;

}
.main-part1 div{
    width: 50%;
}

.failures-reasons{
    padding-top: 250px;
    padding-left: 120px;
}
 /* main part2 */
.main-part2{
    height: 300px;
    
}
.my-plans{
    display: flex;
    margin: 0 50px;

}
.my-plans div{
    margin-right: 50px;
}
.plans-title{
    text-align: center;
    padding-bottom: 30px;
    margin-top: 50px;
}

/* main part3 */
.container {
    position: relative;
    
    color: white;
    background-image: url('images/gradient1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container img{
    opacity: 70%;
  }
  .container button{
    position: absolute;
    bottom: 80px;
  }
  .bottom-left {
    position: absolute;
    bottom: 100px;
    left: 16px;
  }
  .bottom-80{
    position: absolute;
    bottom: 70px;
    left: 16px;

  }
  
  /* footer */
footer{
    background-color: black;
    height: 300px;
}
.footer-info{
    color: white;
    display: flex;
   justify-content: center;
   margin-right: 50px;
}
.footer-info div{
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
}

.btn-blue{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
