*{
    margin: 0;
}

header{
    height: 500px;
    background-image: url('images/banner3.png');
    background-size: cover;
}

header div{
padding-left: 700px;
padding-right: 40px;
}
header h1{
    padding-top: 120px;
    
    color: white;

}
header p{
    text-align: right;
    color: white;

}

.btn-white{
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-left: 150px;
}
#my-failures{
    display: flex;
    height: 500px;
    justify-content: space-between;
}

#failures-list{
    padding-top: 200px;
    padding-left: 30px;
}
.plans{
    height: 300px;
}
.my-plans{
    display: flex;
    margin: 0 50px;
    justify-items: auto;

}
.my-plans div{
    margin-right: 100px;
}
.plans-title{
    text-align: center;
    padding-bottom: 30px;
}

.mindset{
   
    
    margin: 0 auto;
    height: 400px;
    background-image: url('images/gradient1.png');
    background-repeat: no-repeat;
    
}
.mindset img{
    opacity: 50%;

   
}
.positive{
    position: absolute;
    top: 350% ;
    padding-left: 30px;
}
.mindset h1{
    color: white;
}
